* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 2% auto;
}

td,
th {
  color: #474747;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  padding: 13px;
}
/* .toggleCheck input, */
.input {
  margin-left: 30px;
  cursor: pointer;
}
i {
  cursor: pointer;
}
.firstIcon {
  margin-right: 20px;
  text-align: center;
}
.secondIcon {
  text-align: center;
  color: red;
}
.role {
  text-transform: capitalize;
}

.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.pageNumbers li {
  padding: 10px 20px;
  margin: 2px;
  /* border: 1px solid #000; */
  background: #d9efff;
  color: #303f60;
  cursor: pointer;
  border-radius: 5px;
}
.pageNumbers li button {
  background: #d9efff;
  padding: 0 20px;
  border: 0;
  border-color: inherit;
}
.pageNumbers li button:disabled {
  color: red;
  cursor: not-allowed;
  opacity: 0.5;
}
.pageNumbers li:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.pageNumbers li.active {
  background: white;
  color: #303f60;
}

.searchInputs {
  display: flex;
  align-items: center;
}
.search__input {
  position: relative;
  width: 80%;
  margin: 10px auto;
  border-radius: 20px;
  padding: 15px 20px;
}
.searchIcon i {
  position: absolute;
  top: 3.6%;
  right: 13%;
}
#clearBtn {
  cursor: pointer;
}
.edit_form {
  background-color: rgba(169, 169, 169, 0.8);
  color: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 12%;
  left: 50%;
  width: 60%;
  height: 20%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}
.edit_form input {
  padding: 0px 10px;
  min-height: 25px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid gray;
  background-color: white;
}
.edit_form input::placeholder {
  border-color: gray;
}
.edit_form input:focus {
  outline: none;
  border: 1px solid blue;
}
button {
  padding: 0px 10px;
  min-height: 25px;
  border-radius: 5px;
  border-color: goldenrod;
}
#all_delete {
  background-color: red;
  color: white;
}
.select_all input {
  margin: 10px 20px;
}
.toggle_check {
  text-align: center;
}
.form__close {
  position: absolute;
  top: 10%;
  right: 5%;
  color: white;
  background-color: red;
  text-align: center;
}
.mobile {
  display: none;
}

@media screen and (max-width: 425px) {
  .mobile {
    display: block;
  }
  .mobile * {
    margin: 5px;
  }
  .desktop {
    display: none;
  }
  .input {
    margin-left: 10px;
  }
  .searchIcon i {
    position: absolute;
    top: 4.5%;
    right: 13%;
  }
  .form__close {
    top: 5%;
  }
  .edit_form {
    width: 80%;
    height: 38%;
    margin-top: 50px;
  }
  .edit_form button[type='submit'] {
    margin-top: 10px;
  }
  td,
  th {
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding: 5px;
  }
  .pageNumbers {
    padding-bottom: 5px;
  }

  .pageNumbers li {
    padding: 5px 10px;
    margin: 2px;
  }
  .pageNumbers li button {
    background: #d9efff;
    padding: 0 10px;
    border: 0;
    border-color: inherit;
  }
  .edit_form_name_email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
